---
layout: page
---

{% for post in site.posts limit:10 %}
<h2 class="post-title">
    <a href="{{ post.url | relative_url }}">
        {{ post.title }}
    </a>
</h2>

<div class="post-meta">
    <div class="post-time">
        <i class="fa fa-calendar-alt"></i>
        <time datetime='{{ post.date | date: "%Y-%m-%d" }}'>{{ post.date | date_to_string }}</time>
    </div>
    <ul>
        {% for tag in post.tags %}
        <li><a href="{{'/tag/' | append: tag | relative_url }}">{{ tag }}</a></li>
        {% endfor %}
    </ul>
</div>

<div class="post-descr">
    <p>
        {{ post.description }}
    </p>
</div>
{% endfor %}


<div class="post-footer">
    <div class="column-full">
        <h3><a href="{{ 'archive/index.html' | relative_url }}">Blog archive</a></h3>
    </div>
    <div>
        <form id="comment-form">
            <input type="text" placeholder="Comment Here" id="comment-input" />
            <input type="button" value="Submit" onclick="addComment()" />
            <br>
            Max Comments Displayed:
            <input type="number" value="10" min="5" max="30" id="max-comments"
                onchange="getComments()"/>
            <br>
        </form>
        <div>
            <input type="button" onclick="deleteComments()" value="Delete Comments" />
            <br>
            <a id="login-button" href="/" class="button">Login</a>
            <a id="logout-button" href="/" class="button">Logout</a>
        </div>
    </div>
    <div id='comments'>

    </div>
    <script>

        var commentForm = document.getElementById('comment-form');
        var commentInput = document.getElementById('comment-input');
        var maxCommentsInput = document.getElementById('max-comments');
        var commentsSection = document.getElementById('comments');
        var loginButton = document.getElementById('login-button');
        var logoutButton = document.getElementById('logout-button');

        // Initial GET to display comments on page load.
        getComments();

        // Get login status and hide appropriate elements.
        fetch('../login-status')
            .then((response) => response.json())
            .then((loginInfo) => {
                if(loginInfo['loggedIn']){
                    logoutButton.href = loginInfo['logoutUrl'];
                    loginButton.hidden = true;
                } else {
                    loginButton.href = loginInfo['loginUrl']
                    logoutButton.hidden = true;
                    commentForm.hidden = true;
                }
            });

        // Add comment on "Enter" key press.
        commentInput.addEventListener("keydown", function (event) {
            // Number 13 is the "Enter" key on the keyboard.
            if (event.keyCode === 13) {
                // Cancel the default action,
                // which is submitting the form and redirecting to another page.
                // We cancel because we want to stay on the same page.
                event.preventDefault();

                addComment();
            }
        });

        function getComments() {
            // Double GET request is deliberately done as solution to issue #5.
            fetch('../data?maxcomments=' + maxCommentsInput.value).then(() => {
                fetch('../data?maxcomments=' + maxCommentsInput.value)
                    .then((response) => response.json())
                    .then(renderComments);
            });
        }

        function renderComments(comments) {
            commentsSection.innerHTML = '<br><br>';
            for (var i = 0; i < comments.length; i++) {
                commentsSection.innerHTML += comments[i]['username'];
                commentsSection.innerHTML += ' on ' + new Date(comments[i]['timestamp']).toLocaleDateString(undefined,{dateStyle:'full'}) + ':<br>';
                commentsSection.innerHTML += comments[i]['content'] + '<br><br>';
            }
        }

        function deleteComments() {
            // Double DELETE request is deliberately done as solution to issue #4.
            fetch('../delete-data', { method: 'POST' }).then(() => {
                fetch('../delete-data', { method: 'POST' }).then(() => getComments());
            });
        }


        function addComment() {
            let comment = commentInput.value;
            let xhr = new XMLHttpRequest();
            xhr.open("POST", "../data");
            xhr.onreadystatechange = function () { // If the request is done, GET and display comments again.
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    getComments();
                }
            };
            xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhr.send("comment-input=" + comment)
            commentInput.value = "";
        }

    </script>
</div>